body.index{
background:#1E90FF; 
font-family:Georgia,serif
}
body.placeholder{
background:#7CB9E8   
}
body.viz{
background:blue;
color:white
}
a.link{
color:white    
}
a:visited{
color:white    
}
nav.nav{
background:maroon;
color:white;
text-align:center;
border-style:solid;
border-color:black;
border-width:thick;
border-radius:15px;
width: 20%;
height:100%;
margin:auto

}
h1{
border-style:solid;
border-color:white;
border-width:thick; 
width:30%;
height:100%
}
h2{
border-style:solid;
border-color:white;
border-width:thick;
width:15%;
height:100%
}
div.images1{
border-style:solid;
border-color:black;
border-width:thick;
background:white;
width: 85%;

margin:0;
padding:0;
text-align:left;
display:flex;

}
div.images2{
border-style:solid;
border-color:black;
border-width:thick;
background:white;
width: 85%;

margin:0;
padding:0;
text-align:left;
display:flex;

}
figure.dylanpic img{
max-width: 400px;  
width:70%
}
img#img1{
 border-style:solid;
border-color:violet;
border-radius:15px;
border-width:15px;
text-align:left

}
img#img2{
border-style:solid;
border-color:yellow;
border-radius:15px;
border-width:15px;   
}
img#img3{
border-style:solid;
border-color:black;
border-radius:15px;
border-width:15px;    
}
img#img4{
border-style:solid;
border-color:blue;
border-radius:15px;
border-width:15px;      
}
img#img5{
border-style:solid;
border-color:brown;
border-radius:15px;
border-width:15px;    
}
img#img6{
border-style:solid;
border-color:green;
border-radius:15px;
border-width:15px;      
}
footer{
border-style:solid;
border-color:black;
border-radius:15px;
border-width:15px;     
}
body.methods{
background:#967BB6    
}